 
/* start css.sty */
.cmsy-7{font-size:70%;}
.cmr-9{font-size:90%;}
.cmbx-10{ font-weight: bold;}
.cmti-10{ font-style: italic;}
p.noindent { text-indent: 0em }
td p.noindent { text-indent: 0em; margin-top:0em; }
p.nopar { text-indent: 0em; }
p.indent{ text-indent: 1.5em }
@media print {div.crosslinks {visibility:hidden;}}
a img { border-top: 0; border-left: 0; border-right: 0; }
center { margin-top:1em; margin-bottom:1em; }
td center { margin-top:0em; margin-bottom:0em; }
.Canvas { position:relative; }
img.math{vertical-align:middle;}
li p.indent { text-indent: 0em }
li p:first-child{ margin-top:0em; }
li p:last-child, li div:last-child { margin-bottom:0.5em; }
li p~ul:last-child, li p~ol:last-child{ margin-bottom:0.5em; }
.enumerate1 {list-style-type:decimal;}
.enumerate2 {list-style-type:lower-alpha;}
.enumerate3 {list-style-type:lower-roman;}
.enumerate4 {list-style-type:upper-alpha;}
div.newtheorem { margin-bottom: 2em; margin-top: 2em;}
.obeylines-h,.obeylines-v {white-space: nowrap; }
div.obeylines-v p { margin-top:0; margin-bottom:0; }
.overline{ text-decoration:overline; }
.overline img{ border-top: 1px solid black; }
td.displaylines {text-align:center; white-space:nowrap;}
.centerline {text-align:center;}
.rightline {text-align:right;}
div.verbatim {font-family: monospace; white-space: nowrap; text-align:left; clear:both; }
.fbox {padding-left:3.0pt; padding-right:3.0pt; text-indent:0pt; border:solid black 0.4pt; }
div.fbox {display:table}
div.center div.fbox {text-align:center; clear:both; padding-left:3.0pt; padding-right:3.0pt; text-indent:0pt; border:solid black 0.4pt; }
div.minipage{width:100%;}
div.center, div.center div.center {text-align: center; margin-left:1em; margin-right:1em;}
div.center div {text-align: left;}
div.flushright, div.flushright div.flushright {text-align: right;}
div.flushright div {text-align: left;}
div.flushleft {text-align: left;}
.underline{ text-decoration:underline; }
.underline img{ border-bottom: 1px solid black; margin-bottom:1pt; }
.framebox-c, .framebox-l, .framebox-r { padding-left:3.0pt; padding-right:3.0pt; text-indent:0pt; border:solid black 0.4pt; }
.framebox-c {text-align:center;}
.framebox-l {text-align:left;}
.framebox-r {text-align:right;}
span.thank-mark{ vertical-align: super }
span.footnote-mark sup.textsuperscript, span.footnote-mark a sup.textsuperscript{ font-size:80%; }
div.tabular, div.center div.tabular {text-align: center; margin-top:0.5em; margin-bottom:0.5em; }
table.tabular td p{margin-top:0em;}
table.tabular {margin-left: auto; margin-right: auto;}
td p:first-child{ margin-top:0em; }
td p:last-child{ margin-bottom:0em; }
div.td00{ margin-left:0pt; margin-right:0pt; }
div.td01{ margin-left:0pt; margin-right:5pt; }
div.td10{ margin-left:5pt; margin-right:0pt; }
div.td11{ margin-left:5pt; margin-right:5pt; }
table[rules] {border-left:solid black 0.4pt; border-right:solid black 0.4pt; }
td.td00{ padding-left:0pt; padding-right:0pt; }
td.td01{ padding-left:0pt; padding-right:5pt; }
td.td10{ padding-left:5pt; padding-right:0pt; }
td.td11{ padding-left:5pt; padding-right:5pt; }
table[rules] {border-left:solid black 0.4pt; border-right:solid black 0.4pt; }
.hline hr, .cline hr{ height : 1px; margin:0px; }
.tabbing-right {text-align:right;}
span.TEX {letter-spacing: -0.125em; }
span.TEX span.E{ position:relative;top:0.5ex;left:-0.0417em;}
a span.TEX span.E {text-decoration: none; }
span.LATEX span.A{ position:relative; top:-0.5ex; left:-0.4em; font-size:85%;}
span.LATEX span.TEX{ position:relative; left: -0.4em; }
div.float, div.figure {margin-left: auto; margin-right: auto;}
div.float img {text-align:center;}
div.figure img {text-align:center;}
.marginpar {width:20%; float:right; text-align:left; margin-left:auto; margin-top:0.5em; font-size:85%; text-decoration:underline;}
.marginpar p{margin-top:0.4em; margin-bottom:0.4em;}
table.equation {width:100%;}
.equation td{text-align:center; }
td.equation { margin-top:1em; margin-bottom:1em; } 
td.equation-label { width:5%; text-align:center; }
td.eqnarray4 { width:5%; white-space: normal; }
td.eqnarray2 { width:5%; }
table.eqnarray-star, table.eqnarray {width:100%;}
div.eqnarray{text-align:center;}
div.array {text-align:center;}
div.pmatrix {text-align:center;}
table.pmatrix {width:100%;}
span.pmatrix img{vertical-align:middle;}
div.pmatrix {text-align:center;}
table.pmatrix {width:100%;}
span.bar-css {text-decoration:overline;}
img.cdots{vertical-align:middle;}
.partToc a, .partToc, .likepartToc a, .likepartToc {line-height: 200%; font-weight:bold; font-size:110%;}
.index-item, .index-subitem, .index-subsubitem {display:block}
div.caption {text-indent:-2em; margin-left:3em; margin-right:1em; text-align:left;}
div.caption span.id{font-weight: bold; white-space: nowrap; }
h1.partHead{text-align: center}
p.bibitem { text-indent: -2em; margin-left: 2em; margin-top:0.6em; margin-bottom:0.6em; }
p.bibitem-p { text-indent: 0em; margin-left: 2em; margin-top:0.6em; margin-bottom:0.6em; }
.paragraphHead, .likeparagraphHead { margin-top:2em; font-weight: bold;}
.subparagraphHead, .likesubparagraphHead { font-weight: bold;}
.quote {margin-bottom:0.25em; margin-top:0.25em; margin-left:1em; margin-right:1em; text-align:justify;}
.verse{white-space:nowrap; margin-left:2em}
div.maketitle {text-align:center;}
h2.titleHead{text-align:center;}
div.maketitle{ margin-bottom: 2em; }
div.author, div.date {text-align:center;}
div.thanks{text-align:left; margin-left:10%; font-size:85%; font-style:italic; }
div.author{white-space: nowrap;}
.quotation {margin-bottom:0.25em; margin-top:0.25em; margin-left:1em; }
.abstract p {margin-left:5%; margin-right:5%;}
div.abstract {width:100%;}
.uline{ text-decoration:underline; }
.uuline{ text-decoration:underline; }
span.sout {text-decoration: line-through }
span.xout {text-decoration: line-through }
span.uwave {text-decoration:underline }
/* end css.sty */

/* this is what controls the spacing between paper items */
/*
dd {
  margin-bottom: -0.7em;
}
*/

/* fixes alignment problems between labels and entries 
 * See https://stackoverflow.com/questions/35497542/align-left-dl-horizontal-dt-and-dd*/
/* Doesn't fix much
.container dt,.container dd {
  width:auto;
  margin-left:auto;
  display:inline-block;
}
*/

/* dl { */
  /* float: left;  */
  /*
  clear: both;
  line-height: inherit;
  vertical-align: baseline;
  text-align: baseline;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: baseline;
  width: 100%;
  margin: auto;
  */
  /* border: 1px solid red; */
/* } */


/* important: changes font size and other characteristics of the heading - and the labels) */
dt {
  text-decoration: underline;
  font-size: 130%;
  vertical-align: baseline;
  text-align: baseline;
  /* POSITION: relative;  */
  /* PADDING: 0; */
  /* MARGIN: 0;  */
  /* LEFT: 0px;*/
  /*
  TOP: 1.2em; 
  */
}

/* this one is really important - puts the Pxzy and the entry on the same line */
/* important: resets the font size and other characteristics of the labels and the entries from that set by dt above */
dd dt {
  float: left; /* important: puts dt and dd on the same line */
  display: inline-block; 
  clear: both;
  /* margin-right: 0.5em; */
  /* margin-left: 0em; */
  font-style: normal;
  font-weight: normal;
  color: maroon;
  line-height: 100%;
  /* padding-bottom: -2em; */
  /* margin-top: 0em; */
  /* margin-bottom: 1em; */
  /* text-align: left; */
  font-size: 100%; /* why doesn't this override the above dt only font-size? */
  vertical-align: baseline;
  text-align: baseline;
  text-decoration: none;
}

/* move the margin a bit to the left, provide a slightly grey background */
/* dd.list2 { */
dd .list2 {
  overflow:hidden;
  background:#f6f6f6;
  /* margin-left: -1em; */
  MARGIN: 0 0 0 -3em; /* Important: the last one controls tabbing of each label from the left */
  /* float: left; */
  /* white-space: nowrap; important: each entry on only 1 line */
  /* padding-bottom: -2em;  */
  /* text-align: bottom; no effect */
  vertical-align: baseline;
  text-align: baseline;
  /* float: left; */
  /* margin-bottom: -1em; */
  line-height: 150%;
  font-size: 100%;
  PADDING: 0; 
}

/* increases the spacing between entries a bit */
/*
dd:nth-of-type(n+2) { 
  margin-top: 1em; 
}
*/

/* seems to just change the global left margin - a little to the left */
body {
	/*background-color:yellow;*/
	/*background-color:tan;*/
	background-color:white;
	color: black;
	margin-left: 1em;
	/* font-family: Georgia, serif; */
	font-family:"Times New Roman", Times, serif;
}

/* no perceptible difference
h1 {
	font-size:36pt;
	color:#00ff00;
	text-align:center;
}

h2 {
	color:blue;
	color:rgb(255,0,0);
}

hr {color:navy;}
*/

/* This is important: changes the font size, type, etc of each item's entry, but not the label */
p {
    line-height: 100%;
	/* font-size:11pt; */
	/* vertical-align: baseline; */
	vertical-align: baseline;
	font-family:"Times New Roman", Times, serif;
}
	/*margin-left:15px;

a:link {color:blue;}
a:visited {color:rgb(64,128,64);}
a:hover {
	/*color:black;*/
	border-bottom: 1px gray dotted;
}
a:active {color:green;}

div {
}

/* no perceptible difference
dl, dt{
	margin-left:0.5em;
	margin-top: 0.2em;
	margin-bottom: 0;
	white-space:nowrap;
	font-size:11pt;
	/*line-height:1.3em;*/
	/*text-indent:-1.5em;*/
	/*font-family:"Times New Roman", Times, serif;*/
	/* see www.w3schools.com/cssref/css_websafe_fonts.asp for web-safe font combinations */
/* } */


/* dl, dt { */
	/*white-space:nowrap;*/
	/*text-indent:-3em;*/
	/*margin-left:1.5em;*/
	/* border:1px solid green; */
  	/*text-align:left;*/
	/*height:50px;*/
	/*background-color:green;*/
	/*color:white;*/
	/*margin-left:15px;*/
	/*vertical-align:text-top;*/
	/*text-transform:capitalize;*/
	/*text-decoration:overline;*/
	/*text-decoration:underline;*/
	/*text-decoration:line-through;*/
	/*text-decoration:blink;*/
	/*letter-spacing:-0.2em;*/
	/*line-height:100%;*/
	/*line-height:2em;*/
	/*word-spacing:30px;*/
	/*padding-left:1em;*/
	/*margin-left:1em;*/
	/*display: list-item;*/
	/*display: none;*/
	/*display: block;*/

/* } */


/* no perceptible difference
dl {
}

dd {
	color: #222222;
}
*/

dd { /* Important */
   /* margin x y z w: x=space above, y=space to the right, z=space below,w=space to the left (and also affects line wrap alignment) */
   margin: 0em 0em -0.5em 3.5em; /* >=3.5em somehow lines up wrapped lines        perfectly */
   padding: 0 0 0.0em 0;
}


/* important: makes all the first bullet entry have 0 topmargin (aligns the first entry with its label, otherwise it is misaligned) */
dd > *:first-child {
	margin-top: 0;
}
